@gray--lighten:        #;
@gray--light:          #;
@gray:                 #e8e8e8;
@gray--darkest:        #;

@main-color:           #115e30;
@color-secondary:      #a0bfad;

@text-white:           #ffffff;
@text-color:           #191919;
@text-color-secondary: #464646;
@text-color--dark:     #363636;

@text-lite: 300;
@text-normal: 400;
@text-bold: 700;

@font-size--xs: 12px;
@font-size--sm: 13px;
@font-size: 14px;
@font-size--md: 15px;
@font-size--lg: 16px;
@font-size--xlg: 18px;

@title-size--xs: 18px;
@title-size--sm: 24px;
@title-size: 30px;

@line-height--xs: 18px;
@line-height--sm: 22px;
@line-height: 24px;
@line-height--lg: 30px;

@mobile-width:         ~"(min-width: 480px)";
@tablet-width:         ~"(min-width: 768px)";
@desktop-width:        ~"(min-width: 980px)";
@desktop-width--lg:    ~"(min-width: 1170px)";
