@gray--lighten:        #f2f2f2;
@gray--light:          #e5e5e5;
@gray:                 #dddfe0;
@gray--darkest:        #485461;

@main-color:           #283645;
@color-secondary:      #d22856;

@text-normal: 14px;

@mobile-width:         ~"(min-width: 480px)";
@tablet-width:         ~"(min-width: 768px)";
@desktop-width:        ~"(min-width: 980px)";
@desktop-width--lg:    ~"(min-width: 1200px)";
