.contacts-top {
  margin-bottom: 35px;

  .clearfix();

}

.contacts-top__map {
  float: left;
  width: 60%;
  height: 430px;
  background: url("../img/map.jpg") no-repeat 0 0;
  background-size: 100% 100%;

  @media @tablet-width {
    float: none;
    width: 100%;
    margin-bottom: 30px;
  }
}

.contacts-top__feedback {
  float: right;
  width: 35%;

  @media @tablet-width {
    float: none;
    max-width: 400px;
    width: auto;
    margin: auto;
  }
}

.contacts-top__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: @title-size--sm;
  line-height: @line-height;
  font-weight: @text-bold;
  color: @main-color;
  text-transform: uppercase;
  text-align: center;
}
