.main-nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;

  @media @tablet-width {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: @color-secondary;
    border-top: 1px solid @bg-white;
    display: none;
    z-index: 11;

    &--visible {
      display: block;
    }
  }

}

.main-nav__item {
	position: relative;
  text-align: center;
	margin-right: 10px;

	@media (min-width: 1025px) {
	&:hover > .subtoggle {
		transform:  rotateX(180deg);
	}
}

@media (min-width: 1025px) {
	&:hover > .main-nav__sub-menu {
		display: block;
	}
}

  @media @tablet-width {
    border-top: 1px solid @bg-white;
    border-bottom: 1px solid @gray--darkest;
		padding: 0;
		margin: 0;
  }

  a {
    padding: 15px 0;
    font-size: @font-size--md;
    line-height: @line-height--xs;
    color: @text-white;
    text-decoration: none;
    font-weight: @text-bold;
    text-transform: uppercase;
		white-space: nowrap;

    @media @tablet-width {
      display: block;
      color: @main-color;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.main-nav__item--drop {
	padding-right: 20px;
}

.main-nav__sub-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: -20px;
	min-width: 150px;
	background: @main-color;
	padding: 10px 0;
	list-style: none;
	z-index: 20;

	@media @tablet-width {
		position: static;
		width: auto;
	}

	.main-nav__item {
    padding: 5px 20px;
		text-align: left;
		border: none;

		@media @tablet-width {
			padding: 0;
			text-align: center;
		}

	a {
		padding: 5px 0;
		color: @text-white;
	}
	}

}

.main-nav__sub-menu--show {
	display: block;
}

.main-nav__subtoggle {
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  right: 0;
  top: 0;
  z-index: 10;
  cursor: pointer;
  transition: all 0.2s;

  @media @tablet-width {
    height: 48px;
  }
}

.main-nav__subtoggle:before {
  content: "";
  position: absolute;
  top: 11px;
  left: 4px;
  width: 8px;
  height: 2px;
  background: @bg-white;
  transform: rotateZ(40deg);

	@media @tablet-width {
		top: 24px;
		background: @main-color;
	}

}
.main-nav__subtoggle:after {
  content: "";
  position: absolute;
  top: 11px;
  left: 9px;
  width: 8px;
  height: 2px;
  background: @bg-white;
  transform: rotateZ(-40deg);

	@media @tablet-width {
		top: 24px;
		background: @main-color;
	}

}
.main-nav__subtoggle--up {
  transform: rotateX(180deg);
}

.main-nav__subtoggle:hover:before,
.main-nav__subtoggle:hover:after {
	@media @tablet-width {
  background: @main-color;
}
}
