.review {
  display: none;
}

.review__wrap {
  position: relative;
  width: 874px;
  margin: auto;
  padding: 48px;
  background: @bg-white;
  box-sizing: border-box;

  .clearfix();

  @media @desktop-width {
    width: 700px;
  }

  @media @tablet-width {
    max-width: 700px;
    width: 100%;
    padding: 30px 15px;
  }
}

.review__close {
  position: absolute;
	width: 20px;
	height: 20px;
  top: 5px;
	right: 5px;
  cursor: pointer;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    width: 15px;
    height: 3px;
    background: @main-color;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    width: 15px;
    height: 3px;
    background: @main-color;
    -webkit-transform: rotate(-45deg);
  	        transform: rotate(-45deg);
  }
}

.review__pic {
  float: left;
  width: 35%;
  margin: 0;
  border: 2px solid @main-color;
  text-align: center;
  box-sizing: border-box;
  font-size: 0;

  @media @tablet-width--xs {
    float: none;
    width: auto;
  }
}

.review__pic img {
  max-width: 100%;
}

.review__info {
  float: right;
  width: 60%;
  box-sizing: border-box;

  @media @tablet-width--xs {
    float: none;
    width: auto;
  }
}

.review__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  color: @main-color;
  font-weight: @text-normal;
  font-size: @title-size--sm;
  line-height: @line-height--largest;

  @media @tablet-width {
    font-size: @title-size--xs;
  }
}

.review__table {
  width: 100%;
  border: none;
  border-collapse: collapse;

  @media @mobile-width {
    display: block;
  }
}



.review__row {

  @media @mobile-width {
    display: block;
    margin-bottom: 5px;
  }

  .review__table-wrap {

    @media @mobile-width {
      display: block;
      width: 100%;
    }
  }

  td {
  font-size: @font-size--md;
  line-height: @line-height;

  @media @mobile-width {
    display: block;
    line-height: @line-height--xs;
  }

  &:first-child {
    font-weight: @text-bold;
  }
  }
}
